{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="jumbotron">
            <ul class="list-group">
                <li class="list-group-item"><a href="/getExchangeListForm" type="button" class="btn-lg btn-primary">Kursy walut</a></li>
                <li class="list-group-item"><a href="/getExchangeRateForm" type="button" class="btn-lg btn-primary">Wymiana walut</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
