{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Kod</th>
                <th scope="col">Kurs</th>
            </tr>
            </thead>
            <tbody>
            {% if exchangeRateCollectionDto is defined %}
                {% for exchangeRateDto in exchangeRateCollectionDto %}
                <tr>
                    <td>{{ exchangeRateDto.currencyName }}</td>
                    <td>{{ exchangeRateDto.currencyCode }}</td>
                    <td>{{ exchangeRateDto.currencyRate }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">Brak danych</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
